footer  
    .container__footer
        .about
            h3 О магазине
            ul
                li Контакты
                li Наши сувениры
                li Главная
        .information
            h3 Контактная информация
            ul
                li 8 (800) 550 5858
                li 8 (800) 660 2841
                li infovsesuvenirld@gmail.com
                li infovsesuvenirld@gmail.com
        .telephone
            ul
                li Салон связи
                li Обратный звонок
                li Оцените качество обслуживания