header
            .header__container
                img.logo(src="./img/lolgo.png", alt="")
                ul
                    li 
                        a(href="./index.html") Главная
                    li 
                        a(href="./souvenirs.html") Наши сувениры
                    li 
                        a(href="./kontakt.html") Контакты