* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

header {
  width: 100%;
  height: 171px;
  background-color: #fdeaea;
  margin: 0 auto;
}

header .header__container {
  width: 1350px;
  height: 171px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header .header__container .logo {
  height: 204px;
}

header .header__container ul {
  margin-top: 70px;
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

header .header__container ul li {
  margin-left: 34px;
}

header .header__container ul li a {
  text-decoration: none;
  font-size: 24px;
}

.banner img {
  width: 100%;
  height: 472px;
  margin: 0 auto;
}

.container__text-company {
  width: 1300px;
  margin: 0 auto;
  margin-top: 26px;
}

.container__text-company h3 {
  font-size: 24px;
  margin-bottom: 23px;
}

.container__text-company p {
  font-size: 16px;
}

.container__staff {
  width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
}

.container__staff .staff-one img {
  width: 170px;
  height: 170px;
}

.container__staff .staff-one p {
  text-align: center;
}

.container__staff .staff-two img {
  width: 170px;
  height: 170px;
}

.container__staff .staff-two p {
  text-align: center;
}

.container__text-tasks {
  width: 1300px;
  margin: 0 auto;
  margin-top: 26px;
}

.container__text-tasks h3 {
  font-size: 24px;
  margin-bottom: 23px;
}

.container__text-tasks p {
  font-size: 16px;
}

.container__text-tasks .photo__tasks {
  margin-left: 70px;
  margin-top: 25px;
}

.container__about-souvenirs {
  width: 1300px;
  margin: 0 auto;
  margin-top: 26px;
}

.container__about-souvenirs h3 {
  font-size: 24px;
  margin-bottom: 23px;
}

.container__about-souvenirs p {
  font-size: 16px;
}

footer {
  background-color: #fdeaea;
  margin-top: 23px;
  padding-top: 17px;
}

footer .container__footer {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer .container__footer .about {
  width: 250px;
  text-align: center;
}

footer .container__footer .about ul {
  text-decoration: none;
  list-style-type: none;
}

footer .container__footer .about ul li {
  text-decoration: none;
}

footer .container__footer .information {
  width: 250px;
  text-align: center;
}

footer .container__footer .information ul {
  text-decoration: none;
  list-style-type: none;
}

footer .container__footer .information ul li {
  text-decoration: none;
}

footer .container__footer .telephone {
  width: 230px;
  text-align: center;
}

footer .container__footer .telephone ul {
  text-decoration: none;
  list-style-type: none;
}

footer .container__footer .telephone ul li {
  text-decoration: none;
}

.search__string {
  margin-left: 49px;
  margin: 29px;
}

.search__string button {
  width: 117px;
  height: 20px;
  border-radius: 20px;
  background-color: #ffc8c8;
  border: none;
  cursor: pointer;
}

.search__string input {
  width: 282px;
  height: 20px;
  border-radius: 20px;
  background-color: #ffc8c8;
  border: none;
}

.title {
  margin-left: 82px;
  font-size: 24px;
  margin-top: 25px;
}

.container__souvenirs {
  width: 1500px;
  margin: 0 auto;
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.container__souvenirs .souvenir {
  text-align: center;
}

.container__souvenirs .souvenir img {
  width: 237px;
}

.container__souvenirs .souvenir p {
  font-weight: 600;
}

.information__kontakt {
  margin-left: 82px;
  padding: 40px;
}

.cpntainer__leader {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.cpntainer__leader .leader__sales img {
  width: 224px;
}

@media (min-width: 768px) and (max-width: 1024px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }

  header {
    width: 100%;
    height: 141px;
    background-color: #ff8787;
    margin: 0 auto;
    padding: 20px;
  }

  header .header__container {
    width: 100%;
    height: 171px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  header .header__container .logo {
    height: 160px;
  }

  header .header__container ul {
    margin-top: 60px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
  }

  header .header__container ul li {
    margin-left: 20px;
  }

  header .header__container ul li a {
    text-decoration: none;
    font-size: 17px;
  }

  .banner img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .container__text-company {
    width: 850px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .container__staff {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .container__staff .staff-one img,
  .container__staff .staff-two img {
    width: 150px;
    height: 150px;
  }

  .container__staff .staff-one,
  .container__staff .staff-two {
    width: 47%;
    margin-bottom: 20px;
  }

  .container__text-tasks,
  .container__about-souvenirs,
  .container__souvenirs,
  .container__leader {
    width: 850px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .photo__tasks {
    width: 80%;
  }

  footer {
    background-color: #fdeaea;
    margin-top: 23px;
    padding-top: 17px;
  }

  footer .container__footer {
    width: 850px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  footer .container__footer .about {
    width: 210px;
    text-align: center;
  }

  footer .container__footer .about ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .about ul li {
    text-decoration: none;
  }

  footer .container__footer .information {
    width: 210px;
    text-align: center;
  }

  footer .container__footer .information ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .information ul li {
    text-decoration: none;
  }

  footer .container__footer .telephone {
    width: 190px;
    text-align: center;
  }

  footer .container__footer .telephone ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .telephone ul li {
    text-decoration: none;
  }

  .search__string {
    margin: 20px 0;
  }

  .search__string button,
  .search__string input {
    width: 30%;
  }

  .title {
    margin-left: 32px;
    font-size: 24px;
    margin-top: 15px;
  }

  .information__kontakt {
    margin: 20px 0;
    padding: 55px;
  }

  .cpntainer__leader {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .cpntainer__leader .leader__sales img {
    width: 200px;
  }

}

@media (min-width: 480px) and (max-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }

  header {
    width: 100%;
    height: 141px;
    background-color: #20ac66;
    margin: 0 auto;
    padding: 20px;
  }

  header .header__container {
    width: 100%;
    height: 171px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  header .header__container .logo {
    height: 130px;
  }

  header .header__container ul {
    margin-top: 50px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
  }

  header .header__container ul li {
    margin-left: 20px;
  }

  header .header__container ul li a {
    text-decoration: none;
    font-size: 17px;
  }

  .banner img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .container__text-company {
    width: 660px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .container__staff {
    width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .container__staff .staff-one img,
  .container__staff .staff-two img {
    width: 150px;
    height: 150px;
  }

  .container__staff .staff-one,
  .container__staff .staff-two {
    width: 47%;
    margin-bottom: 20px;
  }

  .container__text-tasks,
  .container__about-souvenirs,
  .container__souvenirs,
  .container__leader {
    width: 660px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .photo__tasks {
    width: 80%;
  }

  footer {
    background-color: #fdeaea;
    margin-top: 23px;
    padding-top: 17px;
  }

  footer .container__footer {
    width: 660px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  footer .container__footer .about {
    width: 210px;
    text-align: center;
  }

  footer .container__footer .about ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .about ul li {
    text-decoration: none;
  }

  footer .container__footer .information {
    width: 210px;
    text-align: center;
  }

  footer .container__footer .information ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .information ul li {
    text-decoration: none;
  }

  footer .container__footer .telephone {
    width: 190px;
    text-align: center;
  }

  footer .container__footer .telephone ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .telephone ul li {
    text-decoration: none;
  }

  .search__string {
    margin: 20px 0;
  }

  .search__string button,
  .search__string input {
    width: 30%;
  }

  .title {
    margin-left: 32px;
    font-size: 24px;
    margin-top: 15px;
  }

  .information__kontakt {
    margin: 5px 0;
    padding: 55px;
  }

  .cpntainer__leader {
    width: 660px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .cpntainer__leader .leader__sales img {
    width: 180px;
  }

  .cpntainer__leader .leader__sales p {
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }

  header {
    width: 100%;
    height: 77px;
    background-color: #8420ac;
    margin: 0 auto;
    padding: 10px;
  }

  header .header__container {
    width: 400px;
    height: 171px;
    margin: -30px ;
    display: flex;
    justify-content: space-between;
  }

  header .header__container .logo {
    height: 105px;
    margin-top: 20px;
  }

  header .header__container ul {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
  }

  header .header__container ul li {
    margin-left: 15px;
  }

  header .header__container ul li a {
    text-decoration: none;
    font-size: 13px;
  }

  .banner img {
    width: 100%;
    height: 150px;
    margin: 0 auto;
  }

  .container__text-company {
    width: 400px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .container__staff {
    width: 520px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .container__staff .staff-one img,
  .container__staff .staff-two img {
    width: 150px;
    height: 150px;
  }

  .container__staff .staff-one,
  .container__staff .staff-two {
    width: 37%;
    margin-bottom: 20px;
  }

  .container__text-tasks,
  .container__about-souvenirs,
  .container__souvenirs,
  .container__leader {
    width: 400px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .photo__tasks {
    width: 90%;
  }

  .container__souvenirs .souvenir img{
    width: 120%;
    padding: 5px;
  }

  .container__souvenirs .souvenir p{
    font-size: 15px;
  }

  footer {
    background-color: #fdeaea;
    margin-top: 23px;
    padding-top: 17px;
  }

  footer .container__footer {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  footer .container__footer .about {
    width: 120px;
    text-align: center;
    font-size: 12px;
  }

  footer .container__footer .about ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .about ul li {
    text-decoration: none;
  }

  footer .container__footer .information {
    width: 120px;
    text-align: center;
    font-size: 12px;
  }

  footer .container__footer .information ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .information ul li {
    text-decoration: none;
  }

  footer .container__footer .telephone {
    width: 100px;
    text-align: center;
    font-size: 12px;
  }

  footer .container__footer .telephone ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .telephone ul li {
    text-decoration: none;
  }

  .search__string {
    margin: 20px 0;
  }

  .search__string button,
  .search__string input {
    width: 30%;
  }

  .search__string input{
    width: 60%;
  }

  .title {
    margin-left: 32px;
    font-size: 18px;
    margin-top: 15px;
  }

  .information__kontakt {
    margin: 5px 0;
    padding: 35px;
  }

  .cpntainer__leader {
    width: 660px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .cpntainer__leader .leader__sales img {
    width: 180px;
  }

  .cpntainer__leader .leader__sales p {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }

  header {
    width: 100%;
    height: 77px;
    background-color: #fff171;
    margin: 0 auto;
    padding: 10px;
  }

  header .header__container {
    width: 300px;
    height: 171px;
    margin: -30px ;
    display: flex;
    justify-content: space-between;
  }

  header .header__container .logo {
    height: 65px;
    margin-top: 30px;
  }

  header .header__container ul {
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
  }

  header .header__container ul li {
    margin-left: 10px;
  }

  header .header__container ul li a {
    text-decoration: none;
    font-size: 9px;
  }

  .banner img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
  }

  .container__text-company {
    width: 300px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .container__staff {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .container__staff .staff-one img,
  .container__staff .staff-two img {
    width: 120px;
    height: 120px;
    font-size: 5px;
  }

  .container__staff .staff-one,
  .container__staff .staff-two {
    width: 50%;
    margin-bottom: 20px;
  }

  .container__text-tasks,
  .container__about-souvenirs,
  .container__souvenirs,
  .container__leader {
    width: 300px;
    margin: 0 auto;
    margin-top: 26px;
    font-size: 15px;
  }

  .photo__tasks {
    width: 70%;
  }

  .container__souvenirs .souvenir img{
    width: 120%;
    padding: 5px;
  }

  .container__souvenirs .souvenir p{
    font-size: 15px;
  }

  footer {
    background-color: #fdeaea;
    margin-top: 23px;
    padding-top: 17px;
  }

  footer .container__footer {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  footer .container__footer .about {
    width: 100px;
    text-align: center;
    font-size: 9px;
  }

  footer .container__footer .about ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .about ul li {
    text-decoration: none;
  }

  footer .container__footer .information {
    width: 100px;
    text-align: center;
    font-size: 9px;
  }

  footer .container__footer .information ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .information ul li {
    text-decoration: none;
  }

  footer .container__footer .telephone {
    width: 80px;
    text-align: center;
    font-size: 9px;
  }

  footer .container__footer .telephone ul {
    text-decoration: none;
    list-style-type: none;
  }

  footer .container__footer .telephone ul li {
    text-decoration: none;
  }

  .search__string {
    margin: 20px 0;
  }

  .search__string button,
  .search__string input {
    width: 30%;
  }

  .search__string input{
    width: 60%;
  }

  .title {
    margin-left: 32px;
    font-size: 18px;
    margin-top: 15px;
  }

  .information__kontakt {
    margin: 5px 0;
    padding: 35px;
  }

  .cpntainer__leader {
    width: 300px;
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }

  .cpntainer__leader .leader__sales img {
    width: 150px;
    margin: 15px;
  }

  .cpntainer__leader .leader__sales p {
    font-size: 17px;
  }
}