doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body 
        include modules/header
        .banner
            img(src="./img/banner1 1.png", alt="")
        .container__text-company
            h3 История создания компании
            p Давным-давно, в маленьком городе, где каждый день казался одинаковым, жили два старых друга, Александр и Виктория. Они разделяли общую любовь к путешествиям и открытиям, и всегда мечтали привнести что-то уникальное в рутину своего местного сообщества.Однажды, возвращаясь из захватывающего путешествия по далеким странам, Александр и Виктория решили, что хотят поделиться своими впечатлениями и воспоминаниями с другими. Так зародилась идея создать компанию, которая предложит нечто особенное — уникальные сувениры, вдохновленные разнообразными культурами мира. С таким энтузиазмом и желанием создать нечто удивительное, Александр и Виктория основали компанию "Все сувениры мира". С каждым изготовленным сувениром они вкладывали частичку своей любви к путешествиям и желание делиться этой любовью с другими. Началось с небольшого магазинчика, где они сами создавали уникальные сувениры вручную. С течением времени и с ростом популярности, компания расширила свою деятельность, предлагая широкий ассортимент продукции — от увлекательных магнитов до стильных предметов интерьера, каждый из которых нес в себе кусочек их страсти к исследованиям. Таким образом, "Все сувениры мира" стали не просто компанией по производству сувениров, но настоящим источником вдохновения для тех, кто ценит уникальность и красоту мира.
        .container__staff
            .staff-one
                img(src="./img/photo.png", alt="")
                p Александр
            .staff-two
                img(src="./img/photo.png", alt="")
                p Виктория
        .container__text-tasks
            h3 Наши планы и задачи
            p 3 задачи, которые стоит перед "Все сувениры мира":
            p 1.Расширение ассортимента продукции:
            li Задача: Разработать новые дизайны сувениров, отражающие культуры различных стран и традиции.
            li План: Провести исследование популярных тем и трендов в дизайне, заключить партнерства с художниками и дизайнерами.
            p 2.Развитие онлайн-присутствия:
            li Задача: Увеличить онлайн-продажи и привлечь новых клиентов через интернет.
            li План: Обновить веб-сайт, запустить маркетинговые кампании в социальных сетях, создать программу лояльности для онлайн-покупателей.
            p 3.Открытие новых розничных точек:
            li Задача: Расширить географию присутствия компании.
            li План: Провести маркетинговый анализ для определения перспективных регионов, открыть новые магазины в ключевых торговых точках.
            img.photo__tasks(src="./img/sovesh 1.png", alt="")
        .container__about-souvenirs
            h3 Так как же мы делаем сувениры? 
            p Однажды, во сне, Артуру явилась таинственная фея, предложившая ему уникальный дар — создание сувениров, оживающих дух разных стран. Фея подарила ему колдовской мешок, в котором находились невероятные материалы: кусочки культур, крошки традиций, искры уникальности. <br><br> С тех пор каждый сувенир, созданный в мастерской Артура, становился живым отражением мест, которые он посетил. Изысканные фарфоровые фигурки, наполненные ароматом морского бриза, сувенирные открытки, на которых засветлелось солнце на пляже, деревянные статуэтки, обвитые туманом древности. <br><br> А больше вы узнаете по видеоролику снизу, в котором рассказывается и показывается, как лучшие мастера нашей компании делают удивительыне сувениры со всех уголков планеты
        include modules/footer