doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body 
        include modules/header
        h2.title Контактная информация
        p.information__kontakt 8 (800) 550 5858 <br> 8 (800) 660 2841 <br> <br> Александр Васильевич <br> Виктория Дмитриевна  <br> <br>г. Ликино-Дулево, ул. Коммунистическая, д. 41, кв. 22 <br> <br> Время работы 08 : 00 - 20 : 00
        h2.title Лучшие сотрудники
        .cpntainer__leader  
            .leader__sales
                img(src="./img/lider3 1.png", alt="")
                p Соловьев Макар Максимович <br> 8 (123) 456 7890 <br> makarsolov@gmail.com 
            .leader__sales
                img(src="./img/lider3 1.png", alt="")
                p Соловьев Макар Максимович <br> 8 (123) 456 7890 <br> makarsolov@gmail.com
            .leader__sales
                img(src="./img/lider3 1.png", alt="")
                p Соловьев Макар Максимович <br> 8 (123) 456 7890 <br> makarsolov@gmail.com
        include modules/footer