doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./styles/style.css")
    body 
        include modules/header
        .search__string
            button Найти
            input(type="")
        h2.title Новинки каталога
        .container__souvenirs  
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
        h2.title Лидер продаж
        .container__souvenirs  
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
            .souvenir
                img(src="./img/shop1 4.png", alt="") 
                p Баба Яга Байкер
                p 1400 p
           
        include modules/footer